<div class="profile-info row">
	<div class="profile-pic span2">
		<%= link_to avatar_for(@user, 'med'), @user %>
		<%= render "follow_form" %>
	</div>
	<div class="profile-dets span6">
		<div class="about-user">
			<p><%= @user.name %></p>
			<i class="icon-home" style="padding-right: 3px"></i><%= @user.location %><span class="bullet"><i class="icon-circle"></i></span><% if @user.sex == "Male" %><i class="icon-male" style="padding-right: 3px"></i>Male<% elsif @user.sex == "Female" %><i class="icon-female" style="padding-right: 3px"></i>Female<% end %><br>
				
			<%= @user.about_me %>
		</div>
		<div class="subscribers row">
			<div class="followers span3"><a href="<%= followers_user_path(@user) %>">Followers (<%= @user.followers_count %>)</a><br>
				<% if @user.followers.any? %>
					<div class="user_avatars">
						<% @user.followers.first(7).each do |user_id| %>
							<% user = User.find(user_id) %>
							<%= link_to (image_tag user.avatar.url(:thumb)), user_path(user) %>
						<% end %>
					</div>
				<% end %>
			</div>
			<div class="following span3"><a href="<%= following_user_path(@user) %>">Following (<%= @user.following_users_count %>)</a><br>
				<% if @user.following_users.any? %>
					<div class="user_avatars">
						<% @user.following_users.first(7).each do |user_id| %>
							<% user = User.find(user_id) %>
							<%= link_to (image_tag user.avatar.url(:thumb)), user_path(user) %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>

	</div>
</div>