<% provide(:title, @user.name) %>
<div class="main row">
	<div class="span8">
		<%= render "profile" %>
		<div class="profile-chan">
			<h3>Followers</h3>
			<% if @users.any? %>
				<ul class="users" >					
					<% @users.each do |user| %>
						<li id="<%= user.id %>">
							<div class="user row">
								<div class="pic span1">
									<%= link_to image_tag(user.avatar.url("med")), user_path(user) %>
								</div>
								<div class="info span6">
									<%= link_to user.name, user_path(user) %><br>
									<%= user.sex %> | <%= user.location %>
								</div>

								<div class="follow span1">
									<% if current_user.following?(user) %>
										<%= link_to "Unfollow", unfollow_user_path(user), :class => "btn btn-large" %>
									<% else %>
										<%= link_to "Follow", follow_user_path(user), :class => "btn btn-large btn-primary" %>
									<% end %>
								</div>
							</div>							
						</li>
					<% end %>
				</ul>
				<%= will_paginate @users %>
			<% end %>
		</div>
	</div>

	<!-- Side Bar -->
	<div class="span4">
		<%= render "shared/sidebar" %>
	</div>
</div>