<% if user_signed_in? && (comment.user == current_user) %>
	<% if comment.voted_by?(current_user) %>
		<% if current_user.voted_for?(comment) %>
			<!-- If signed in and voted for -->
			<span class="vote-items">
				<div class="like" style="border: 1px solid #46a546;">
					<%= link_to vote_up_comment_path(comment), class: "wir", style: "color: #46a546;  font-size: 16px;", remote: true do %>
						<i class="icon-thumbs-up" style="padding:2px;"></i>
					<% end %>
				</div>
				<div class="stats">
					<%= render :partial => "shared/commentvotecount", locals: {comment: comment}  %>
				</div>
				<div class="dislike">
					<%= link_to vote_down_comment_path(comment), class: "wiw", remote: true do %>
						<i class="icon-thumbs-down" style="padding:2px;"></i>
					<% end %>
				</div>
			</span>
			<!-- End If signed in and voted for -->
		<% else %>
			<!-- If signed in & voted against -->
			<span class="vote-items">
				<div class="like">
					<%= link_to vote_up_comment_path(comment), class: "wir", remote: true do %>
						<i class="icon-thumbs-up" style="padding:2px;"></i>
					<% end %>
				</div>
				<div class="stats">
					<%= render :partial => "shared/commentvotecount", locals: {comment: comment}  %>
				</div>
				<div class="dislike" style=" border: 1px solid #9d261d;">
					<%= link_to unvote_post_path(comment), class: "wiw", style: "color: #9d261d;", remote: true do %>
						<i class="icon-thumbs-down" style="padding:2px; font-size: 16px;"></i>
					<% end %>
				</div>
			</span>
			<!-- End If signed in & voted against -->
		<% end %>
	<% else %>
		<!-- If signed in but hasn't voted yet -->
		<span class="vote-items">
			<div class="like">
				<%= link_to vote_up_comment_path(comment) do %>
					<i class="icon-thumbs-up" style="padding:2px;"></i>
				<% end %>
			</div>
			<div class="stats">
				<%= render :partial => "shared/commentvotecount", locals: {comment: comment}  %>
			</div>
			<div class="dislike">
				<%= link_to vote_down_comment_path(comment) do %>
					<i class="icon-thumbs-down" style="padding:2px;"></i>
				<% end %>
			</div>
		</span>
		<!-- End If signed in but hasn't voted yet -->
	<% end %>
<% else %>
	<!-- If signed in but hasn't voted yet -->
	<span class="vote-items">
		<div class="like">
			<%= link_to vote_up_comment_path(comment), class: "wir" do %>
				<i class="icon-thumbs-up" style="padding:2px;"></i>
			<% end %>
		</div>
		<div class="stats">
			<%= render :partial => "shared/commentvotecount", locals: {comment: comment}  %>
		</div>
		<div class="dislike">
			<%= link_to vote_down_comment_path(comment), class: "wiw" do %>
				<i class="icon-thumbs-down" style="padding:2px;"></i>
			<% end %>
		</div>
	</span>
	<!-- End If signed in but hasn't voted yet -->
<% end %>