<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-form form-horizontal"}) do |f| %>

	<div class="login-header">
		<h3>Login</h3>
	</div>
	
	<%= f.text_field :login, placeholder: "username/email" %>
	
	<%= f.password_field :password, placeholder: "password" %>

	<label class="checkbox">
      <input id="user_remember_me" label="remember me?" name="user[remember_me]" type="checkbox" value="1">&nbsp;Remember me
    </label>    

    <div class="forgotLink pull-right">
		<%= link_to "I forgot my password", new_password_path('user') %>
	</div>

	<%= f.submit 'Login', :class => "btn btn-primary" %>


	<%= render "shared/links" %>

<% end %>