<% provide(:title, 'Recover password') %>

<div class="recover-page">
	<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => "recover-form form-horizontal", :method => :post }) do |f| %>
	  <%= f.error_notification %>

	  <h2>Forgot your password?</h2>

	  <%= f.text_field :email, :required => true, :autofocus => true, placeholder: "Enter your email address" %>

	  <%= f.submit "Send me reset password instructions", :class => "btn btn-primary" %>

	  <%= render "shared/links" %>

	<% end %>
</div>