<%= minimal_form_for(@post, :html => { :class => "post-form", :multipart => true } ) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

    <%= f.input :p_title, placeholder: "Title" %>

    <%= f.file_field :p_image %>

    <div class="post-checkbox">
    	<label class="checkbox">
	        <input id="post_anonymous" label="Post anonymously?" name="post[anonymous_post]" type="checkbox" value"1"> post anonymously?
	    </label>
    </div>

    <% if current_user.admin? %>
        <%= f.collection_select :category_id, Category.all, :id, :cat_name  %>
    <% else %>
        <%= f.collection_select :category_id, Category.where("id != 1"), :id, :cat_name  %>
    <% end %>

    <%= f.input :tag_list, placeholder: "Tags (separated by commas)" %>

    <%= f.input :p_body, placeholder: "What do you want to say..." %>

    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>