<li id="<%= post.id %>" class="post-item row">
	<% if post.p_image.exists? %>
		<div class="post-pic col-md-3 col-sm-3 col-xs-3">	
			<%= link_to image_tag(post.p_image.url(:thumb)), post_path(post) %>		
		</div>
		<div class="post-content col-md-8 col-sm-8 col-xs-8">
			<div class="post-title-bar row">
				<% if signed_in? && current_user.id == post.origin_user_id %>
					<span class="post-title col-xs-11 col-sm-11">
						<h2><%= link_to post.p_title, post_path(post) %><span class="post-cat"><%= link_to Category.find(post.category_id).cat_name %></span></h2>
					</span>
					<span class="post-delete col-xs-1 col-sm-1">					
						<%= link_to post, method: :delete,
											data: {confirm: "You sure?"},
											title: post.p_title do %>
							<i class="icon-trash"></i>						
						<% end %>
					</span>
				<% else %>
					<span class="post-title col-xs-11 col-sm-11">
						<h2><%= link_to post.p_title, post_path(post) %><span class="post-cat"><%= link_to Category.find(post.category_id).cat_name %></span></h2>
					</span>
				<% end %>
			</div>
			<span class="post-info">by: <span class="post-user"><%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%b #{post.created_at.day.ordinalize} %Y, %I:%M %p") %></span></span>
			<p><%= the_excerpt(post) %></p>
			<span class="post-fb">
				<%= link_to post_path(post)  do %>
					<i class="icon-comment"></i><% if post.comments.count > 0 %><span style="margin-left:5px;"><%= post.comments.count %></span><% end %><span style="margin-left:5px;"><%= "comment".pluralize(post.comments.count) %></span>
				<% end %>
			</span>
		</div>
	<% else %>
		<div class="post-content col-xs-11 col-sm-11">
			<div class="post-title-bar row">
				<% if current_user == post.user %>
					<span class="post-title col-md-11 col-sm-11 col-xs-11">
						<h2><%= link_to post.p_title, post_path(post) %><span class="post-cat"><%= link_to Category.find(post.category_id).cat_name %></span></h2>
					</span>
					<span class="post-delete col-xs-1 col-sm-1">
						<% if current_user.id == post.origin_user_id %>
							<%= link_to post, method: :delete,
												data: {confirm: "You sure?"},
												title: post.p_title do %>
								<i class="icon-trash"></i>
							<% end %>
						<% end %>
					</span>
				<% else %>
					<span class="post-title col-xs-11 col-sm-11">
						<h2><%= link_to post.p_title, post_path(post) %><span class="post-cat"><%= link_to Category.find(post.category_id).cat_name %></span></h2>					
					</span>
				<% end %>
			</div>
			<span class="post-info">by: <span class="post-user"><%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%b #{post.created_at.day.ordinalize} %Y, %I:%M %p") %></span></span>
			<p><%= the_excerpt(post) %></p>
			<span class="post-fb">
				<%= link_to post_path(post)  do %>
					<i class="icon-comment"></i><% if post.comments.count > 0 %><span style="margin-left:5px;"><%= post.comments.count %></span><% end %><span style="margin-left:5px;"><%= "comment".pluralize(post.comments.count) %></span>
				<% end %>
			</span>
		</div>
	<% end %>
	
	<div class="post-vote col-xs-1 col-sm-1">
		<div class="myvote-<%= post.id %>">
			<%= render :partial => "shared/vote", locals: {post: post, feed_item: post} %>
		</div>
	</div>						
</li>