<li id="<%= post.id %>" class="post-item row">
	<div class="post-pic span2">	
		<% if post.p_image.exists? %>
			<%= link_to image_tag(post.p_image.url(:thumb)), post_path(post) %>
		<% end %>
	</div>
	<div class="post-content span5">
		<div class="post-title-bar row">
			<span class="post-title span4">
				<h3><%= link_to post.p_title, post_path(post) %></h3>
				<span class="post-cat"><%= link_to Category.find(post.category_id).cat_name %></span>
			</span>
			<span class="post-delete span1">
				<% if current_user == post.user %>
					<%= link_to post, method: :delete,
										data: {confirm: "You sure?"},
										title: post.p_title do %>
						<i class="icon-trash"></i>
					<% end %>
				<% end %>
			</span>
		</div>
		<span class="post-info">by: <span class="post-user"><%= link_to post.user.name, post.user %> on <%= post.created_at.strftime("%b #{post.created_at.day.ordinalize} %Y, %I:%M %p") %></span></span>
		<p><%= the_excerpt(post) %></p>
		<span class="post-fb">
			<%= link_to post_path(post)  do %>
				<i class="icon-comment"></i><% if post.comments.count > 0 %><span style="margin-left:5px;"><%= post.comments.count %></span><% end %><span style="margin-left:5px;"><%= "comment".pluralize(post.comments.count) %></span>
			<% end %>
		</span>
	</div>
	
	<div class="post-vote span1">
		<div class="myvote-<%= post.id %>">
			<%= render :partial => "shared/vote", locals: {post: post, feed_item: post} %>
		</div>
	</div>						
</li>