<div class="main row">
	<!-- Main Post -->
	<div class="col-xs-12 col-md-8">
		<%= render "shared/channel_nav" %>
		<% if params[:query] %>
			<%= render "search" %>
		<% elsif params[:tag] %>
			<%= render "tag" %>
		<% else %>
			<%= render "category" %>
		<% end %>
	</div>

	<!-- Side Bar -->
	<div class="hidden-xs col-md-4">
		<%= render "shared/sidebar" %>
	</div>
</div>