<div class="main row">
	<!-- Main Post -->
	<div class="span8">
		<%= render "shared/channel_nav" %>
		<% if params[:search] %>
			<%= render "search" %>
		<% elsif params[:tag] %>
			<%= render "tag" %>
		<% else %>
			<%= render "category" %>
		<% end %>
	</div>

	<!-- Side Bar -->
	<div class="span4">
		<%= render "shared/sidebar" %>
	</div>
</div>