<% provide(:title, 'Sign up') %>

<div class="signup-page">  
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true, :html => { :class => "signup-form form-horizontal", :multipart => true }) do |f| %>
    <div class="signup-header">
      <h2>Sign Up</h2>
      <p>Go ahead. It's free!</p>
    </div>    

    <%= f.error_notification %>
    <%= devise_error_messages! %>

    <%= f.input :name, placeholder: "Full Name", :autofocus => true, label: false  %>
    
    <%= f.input :email, as: :email, placeholder: "Your Email", label: false %>
    <%= f.input :password, as: :password, placeholder: "Password", label: false  %>
    <%= f.input :password_confirmation, as: :password, placeholder: "Re-enter Password", label: false  %>

    <%= f.input :dob, label: false, placeholder: "Date of Birth", input_html: { id: 'datepicker'}, label: false  %>

    <%= f.collection_radio_buttons(:sex, [['Male', 'Male',], ['Female', 'Female']], :first, :last).html_safe do |b| b.label {b.text + b.radio_button } end %> 

    <p>By clicking Sign Up, you agree to our Terms and Conditions.</p>    

    <%= f.button :submit, "Sign up", class: "btn btn-large btn-primary" %>

    <%= render "shared/links" %>
  <% end %>
</div>