<% provide(:title, 'Privacy') %>
<div class="row">
  <div class="user-edit-nav span4">
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if current_page?(settings_path) %>">
        <%= link_to '<i class="icon-chevron-right"></i> Account'.html_safe, settings_path %>
      </li>
      <li class="<%= 'active' if current_page?(settings_password_path) %>">
        <%= link_to '<i class="icon-chevron-right"></i> Password'.html_safe, settings_password_path %>
      </li>
      <li class="<%= 'active' if current_page?(settings_privacy_path) %>">
        <%= link_to '<i class="icon-chevron-right"></i> Privacy'.html_safe, settings_privacy_path %>
      </li>
    </ul>
  </div>

	<div class="user-edit span8">
		<div class="edit-header">
			<h2>Privacy Options</h2>
			<p>Adjust your accessibility and visibility to the world</p>
		</div>
		<div class="privacy-edit">
			<% if current_user.private? %>
				<%= link_to "make public", make_public_user_path(current_user), :class => "btn btn-large btn-primary" %>
			<% else %>
				<%= link_to "make private", make_private_user_path(current_user), :class => "btn btn-large" %>
			<% end %>
		</div>
	</div>
</div>